/* -----------------login page css ------------------- */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(to right, #5fa7ff, #7ba0fe);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.login-header img {
    width: 100px;
    margin-right: 20px;
}

.login-header h2 {
    color: #6bd62d;
    font-size: 20px;
    font-family: cursive;
    font-weight: 100;
    margin: 0;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container a {
    display: block;
    margin: 10px 0;
    color: #ff7e5f;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* ---------------- Signup page css ---------------------- */

.signup-container {
    background: white;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 450px;
}

.signup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.signup-header img {
    width: 100px;
    margin-right: 20px;
}

.signup-header h2 {
    color: #6bd62d;
    font-size: 20px;
    font-family: cursive;
    font-weight: 100;
    margin: 0;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="tel"],
.signup-container input[type="file"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.signup-container a {
    display: block;
    margin: 10px 0;
    color: #ff7e5f;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}