section {
    width: 100%;
    height: auto;
}

.product-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.product-card {
    width: 18%;
    height: 55vh;
    border: 2px solid gray;
    margin-left: 5.5%;
    margin-bottom: 3%;
    overflow: hidden;
}
.product-card:hover {
    border: 2px solid green;
    scale: 1.05;
}


.product-card .product-image {
    height: 70%;
    width: 100%;
}

.product-card .product-image img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.product-card .product-detail {
    height: 30%;
    width: 100%;

}
.product-card .product-detail .description p{
    font-size: 18px;
    color: gray;

}
.product-card .product-detail .price {
    font-weight: bold;
}

