{% extends "default.html" %}

{% block title %}Set new password{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="login-container">
        <div class="login-header">
            <h2>Set New Password</h2>
        </div>
        <p class="error-message">{{error}}</p>
        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="npassword" placeholder="Enter New Password" required>
            <input type="text" name="cpassword" placeholder="Enter Confirm Password" required>
            <input type="submit" value="Save">
        </form>
        
    </div>
</div>

{% endblock  %}