{% block header %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}index{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'javascript/all.js' %}"></script>
    <script src="https://kit.fontawesome.com/cb91b67637.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/lg-removebg-preview - Copy.png' %}" alt="Logo">
            </a>
        </div>
        <form action="search" method="GET">
            {% csrf_token %}
            <div class="search-container">
                <div class="search">
                    <input type="search" name="query" placeholder="Search for product and more">
                </div>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>

        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    {% for category in categories %}
                    <a href="{% url 'product_category' category.id %}">{{ category.category_name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% if request.session.user_email %}
            <li><a href="{% url 'profile' %}"><span><i class="fa-solid fa-user"></i></span>Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'cart' %}"><span><i class="fa-solid fa-cart-shopping"></i></span> {{total_quantity}}</a>
            </li>
            {% else %}
            <li id="ic"><a href="{% url 'login' %}"><span><i class="fa-solid fa-user"></i></span>Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li id="ic"><a href="{% url 'cart' %}"><span><i class="fa-solid fa-cart-shopping"></i></span>0</a></li>
            {% endif %}
        </ul>
        <button class="bar" onclick="openmenu()"><i id="icon" class="fa-solid fa-bars-staggered"></i></button>
    </div>
    {% endblock header %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="custom-footer">

        <div class="footer-detail">
            <div class="footer-section-left">
                <img src="../static/images/lg-removebg-preview - Copy.png" alt="Company Logo" class="footer-logo">
                <p>Aces Technology Pvt. Ltd</p>
                <p>209 B / Bharti Bhawan Piplani</p>
                <p>Bhopal, Madhya pradesh, 462022</p>
            </div>
            <div class="footer-section-right">
                <a href="https://www.facebook.com" class="social-media-icon" target="_blank"><i
                        class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="https://www.instagram.com" class="social-media-icon" target="_blank"><i
                        class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com" class="social-media-icon" target="_blank"><i
                        class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
        <br>
        <hr>
        <div class="footer-contact">
            <p>Support: acestechnologypvtltd@gmail.com</p>
            <p>Contact: 8873566210</p>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 Easykart. All rights reserved.</p>
        </div>
    </footer>


    <script>
        function openmenu() {
            var x = document.getElementById('menu');
            var y = document.getElementById('icon');
            if (x.style.top === "-100%") {
                x.style.top = "12vh";
                y.className = "fa fa-times";
            } else {
                x.style.top = "-100%";
                y.className = "fa-solid fa-bars-staggered";
            }
        }
    </script>
</body>

</html>
{% endblock %}