<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}index{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/cb91b67637.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <a href="/">
                <img src="{% static 'images/lg-removebg-preview - Copy.png' %}" alt="Logo">
            </a>
        </div>
        <form action="">
            <div class="search-container">
                <div class="search">
                    <input type="search" placeholder="Search for product and more">
                </div>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    {% for category in categories %}
                        <a href="{% url 'product_category' category.id %}">{{ category.category_name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% if request.session.user_email %}
                <li><a href="{% url 'profile' %}"><span><i class="fa-solid fa-user"></i></span>Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'cart' %}"><span><i class="fa-solid fa-cart-shopping"></i></span>Cart {{total_quantity}}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}"><span><i class="fa-solid fa-user"></i></span>Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'cart' %}"><span><i class="fa-solid fa-cart-shopping"></i></span>Cart</a></li>
            {% endif %}
         
        </ul>
    </div>

    {% block content %}
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
</body>
</html>
