{% extends "default.html" %}
{%block container%}
<h1>
    Welcome To EasyKart!!!!
</h1>
<h2>Cloth</h1>
    <section>
        <div class="product-main">
            {% for key in data %}

            <div class="product-card">
                <div class="product-image">
                    <img src="{{key.product_image.url}}" alt="">
                </div>
                <div class="product-detail">
                    <div class="description">
                        <p>{{key.product_name}}</p>
                    </div>
                    <div class="price">
                         <p><del style="color: gray;">Rs.{{key.product_price}}</del><span style="margin-left: 5px;">Rs.299</span></p>
                    </div>
                    <div class="type">
                        <pre>{{key.product_description}}</pre>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
    </section>



    {%endblock%}